﻿@model DBCoursework.Models.Team

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Players)
        </dt>
        <dd>
            @foreach (var player in Model.Players)
            {
                <div>@player.Name</div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Competitons)
        </dt>
        <dd>
            @foreach (var competition in Model.Competitons)
            {
                <div>@competition.Name</div>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>